{
    http_port 8999
    admin off
}

http://:8700 {
    reverse_proxy * http://10.165.135.132:8080
}

:2016 {
    encode zstd gzip
    header {
         X-App-ProtoStandard poovarasan.vasudevan-v1
         Server iampoov-std-v1-http3-experimental
    }

    reverse_proxy /smartcall/*  localhost:8700
    reverse_proxy /*  localhost:8411
}